
.portfolio_strict .portfolio_item .portfolio_description p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 120px !important;
}
   .portfolio_strict .portfolio_item figure figcaption p {
    padding: 10px 20px;
    color: #aaa;
    font-weight: 300;
    font-size: 13px;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    timing-function: cubic-bezier(0.25, 0.25, 0.115, 1.445);
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.25, 0.115, 1.445);
    opacity: 0;
    display: none !important;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}
.hgroup h1 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 0.3em 0;
    padding: 0;
    color:black;
}
  

.section_header {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    border: 1px solid #cccccc;
    margin: 0 0 26px;
    padding: 0 0 16px 0;
    clear: both;
}
.col-md-8 {
    margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
    .hgroup h1 {
        padding-left:150px;
    }
    .hgroup h2 {
        padding-left:160px;
    }
}